body {
	background-color: #f6f6f6;
	background-repeat:repeat-x;
	color:#555555;
	font-family:Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	text-align:center;
	padding: 0;
    margin: 0;
}

p {
	padding-bottom: 2em;
	line-height:1.2em;
}

ul {
	padding-inline-start: 0;
}

#container {
	margin:0 auto;
	text-align:left;
	width:700px;
	display: grid;
	justify-content: center;
	align-items: start;
}

.links_container{
	margin: 20px;
}

.links{
	margin-left:15px;
	margin-right:10px;
	padding-top:0;
	padding-bottom:0;
}
.links ul {
	list-style:none;
}
.links a {
	background-color: transparent;
	border-bottom:1px dotted #AAAAAA;
	color:#4D4D4D;
	display:block;
	font-weight:bold;
	padding:5px 3px 5px 16px;
	text-decoration:none;
}
.links a:hover{
	color:#117EAE;
}

#webContent {
	width:690px;
}

#webContent #content {
	margin-left: 10px;
	margin-bottom:10px;
	padding: 5px 20px 10px 10px;
}
#footer{
	margin-top:10px;
	text-align:center;
	padding: 8px;
}
.links #active{
	color:red;
}